<div class="header">
  <h1>Have a Look at These Fab Pitches</h1>

<section id="portfolio" class="page-section py-4">
  <div class="container">
    <%# <h1 class="text-center mb-5" style="font-family: 'Pacifico'">Have a look at these Fabulous Pitches</h1> %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% @pitches.each do |pitch| %>
        <div class="col">
          <%= link_to pitch_path(pitch), class: 'portfolio-box' do %>
            <div class="card shadow-lg border-0 rounded-3 overflow-hidden custom-card">
              <% if pitch.image_url.present? %>
                <%= image_tag pitch.image_url, alt: pitch.name, class: "img-fluid w-100 h-100 object-cover" %>
              <% elsif pitch.photo.attached? %>
                <%= cl_image_tag pitch.photo.key, crop: :fill, class: "img-fluid w-100 h-100 object-cover" %>
              <% else %>
                <img src="<%= asset_path('fullsize/1.jpg') %>" alt="..." class="img-fluid w-100 h-100 object-cover">
              <% end %>
              <div class="card-img-overlay d-flex justify-content-center align-items-center text-center text-white p-0">
                <div class="project-name w-100">
                  <h5 class="text-shadow mb-0 ellipse-bg"><%= pitch.name %></h5>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>





<br>

<section id="contact" class="page-section">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="mt-0">Let's Get In Touch!</h2>
        <hr class="divider">
        <p class="text-muted mb-5">
          Got any questions for us? Send us a message, and we will get back to you as soon as possible!
        </p>
      </div>
    </div>

    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
      <div class="col-lg-6">
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
          <div class="form-floating mb-3">
            <input id="name" class="form-control" type="text" placeholder="Enter your name..." data-sb-validations="required">
            <label for="name">Full name</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>

          <div class="form-floating mb-3">
            <input id="email" class="form-control" type="email" placeholder="name@example.com" data-sb-validations="required,email">
            <label for="email">Email address</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
          </div>

          <div class="form-floating mb-3">
            <input id="phone" class="form-control" type="tel" placeholder="(123) 456-7890" data-sb-validations="required">
            <label for="phone">Phone number</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
          </div>

          <div class="form-floating mb-3">
            <textarea id="message" class="form-control" placeholder="Enter your message here..." style="height: 10rem;" data-sb-validations="required"></textarea>
            <label for="message">Message</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>

          <div id="submitSuccessMessage" class="d-none">
            <div class="text-center mb-3">
              <strong>Form submission successful!</strong>
              To activate this form, sign up at
              <br>
              <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
          </div>

          <div id="submitErrorMessage" class="d-none">
            <div class="text-center text-danger mb-3">Error sending message!</div>
          </div>

          <div class="d-grid">
            <button id="submitButton" class="btn btn-primary btn-xl" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
