<h1>New Pitch</h1>

<%= simple_form_for @pitch do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit "Create Pitch", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to Pitches', pitches_path %>
