<div class="container mt-5" style="width: 50%; justify-content: center; align-items: center">
  <h1>Create a New Pitch</h1>
    <%= simple_form_for @pitch do |f| %>
        <%= f.input :name, label: "Pitch Name", input_html: { class: "form-control" } %>

        <%= f.input :description, label: "Pitch Description", as: :text, input_html: { class: "form-control", rows: 4 } %>

        <%= f.input :photo, label: "Pitch Display Image", as: :file %>

        <%= f.label :template, "Choose a Template" %>
        <%= f.select :template, options_for_select(["bright_modern", "dark_modern","focus", "geometric", "marina", "momentum", "shift"]), {}, class: "form-select" %>
        <div class="buttons mt-5">
          <%= f.submit "Create Pitch", class: "btn btn-primary" %>
          <%= link_to 'Back to Pitches', pitches_path, class: "btn btn-secondary" %>
        </div>
    <% end %>
</div>
