<div class="container mt-5">
  <h1 class="text-center mb-4">Create a New Pitch</h1>

  <div class="card shadow p-4">
    <%= simple_form_for @pitch do |f| %>
      <div class="mb-3">
        <%= f.input :name, label: "Pitch Name", input_html: { class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= f.input :description, label: "Pitch Description", as: :text, input_html: { class: "form-control", rows: 4 } %>
      </div>

      <div class="mb-3">
        <%= f.input :photo, label: "Pitch Display Image", as: :file %>
      </div>

      <div class="mb-3">
        <%= f.label :template, "Choose a Template" %>
        <%= f.select :template, options_for_select(["bright_modern", "dark_modern"]), {}, class: "form-select" %>
      </div>

      <div class="d-flex justify-content-between">
        <%= f.submit "Create Pitch", class: "btn btn-primary" %>
        <%= link_to 'Back to Pitches', pitches_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
