<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="pitchImagesCarousel" class="carousel slide" data-bs-ride="carousel" style="width: 100%; height: 500px;">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 100%;">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
              <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
                  style="border-radius: 10px;
                          background-image: url('<%= @pitch.template.present? && File.exist?(Rails.root.join('app/assets/images/templates', "#{@pitch.template}_title.JPG")) ? asset_path("templates/#{@pitch.template}_title.JPG") : asset_path('templates/bright_modern_title.JPG') %>');
                          background-size: cover;
                          background-position: center;
                          background-repeat: no-repeat;
                          min-height: 50vh">

                <h4 class="<%= ['dark_modern', 'focus', 'marina'].include?(@pitch.template) ? 'text-white' : 'text-black' %> text-center mb-4" style="font-size: 3rem; font-weight: bold;">
                  <%= @pitch.name %>
                </h4>

                <div class="text-center">
                  <% if @pitch.image_url.present? %>
                    <%= image_tag @pitch.image_url, alt: @pitch.name, class: "img-fluid rounded", style: "max-width: 300px; height: auto;" %>
                  <% elsif @pitch.photo.attached? %>
                    <%= cl_image_tag @pitch.photo.key, height: 200, width: 300, crop: :fill, class: "rounded" %>
                  <% else %>
                    <img src="<%= asset_path('fullsize/1.jpg') %>" alt="..." class="img-fluid rounded" style="max-width: 300px; height: auto;">
                  <% end %>
                </div>

              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
                  style="border-radius: 10px;
                          background-image: url('<%= @pitch.template.present? && File.exist?(Rails.root.join('app/assets/images/templates', "#{@pitch.template}_content.JPG")) ? asset_path("templates/#{@pitch.template}_content.JPG") : asset_path('templates/bright_modern_content.JPG') %>');

                          background-size: cover;
                          background-position: center;
                          min-height: 50vh">
                  <h5 class="<%= ['dark_modern', 'focus', 'marina'].include?(@pitch.template) ? 'text-white' : 'text-black' %> text-center mb-3">PAIN POINTS</h5>
                <ul class="list-unstyled <%= ['dark_modern', 'focus', 'marina'].include?(@pitch.template) ? 'text-white' : 'text-black' %>">
                  <%= @pitch.content.split("\n")[0..3].map { |point| "<li>#{point.strip}</li>" }.join.html_safe %>
                </ul>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
                  style="border-radius: 10px;
                          background-image: url('<%= @pitch.template.present? && File.exist?(Rails.root.join('app/assets/images/templates', "#{@pitch.template}_content.JPG")) ? asset_path("templates/#{@pitch.template}_content.JPG") : asset_path('templates/bright_modern_content.JPG') %>');

                          background-size: cover;
                          background-position: center;
                          min-height: 50vh">
                  <h5 class="<%= ['dark_modern', 'focus', 'marina'].include?(@pitch.template) ? 'text-white' : 'text-black' %> text-center mb-3">TARGET AUDIENCE</h5>
                <ul class="list-unstyled <%= ['dark_modern', 'focus', 'marina'].include?(@pitch.template) ? 'text-white' : 'text-black' %>">
                  <%= @pitch.content.split("\n")[4..7].map { |point| "<li>#{point.strip}</li>" }.join.html_safe %>
                </ul>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
                  style="border-radius: 10px;
                          background-image: url('<%= @pitch.template.present? && File.exist?(Rails.root.join('app/assets/images/templates', "#{@pitch.template}_content.JPG")) ? asset_path("templates/#{@pitch.template}_content.JPG") : asset_path('templates/bright_modern_content.JPG') %>');

                          background-size: cover;
                          background-position: center;
                          min-height: 50vh">
                  <h5 class="<%= ['dark_modern', 'focus', 'marina'].include?(@pitch.template) ? 'text-white' : 'text-black' %> text-center mb-3">SOLUTION</h5>
                <ul class="list-unstyled <%= ['dark_modern', 'focus', 'marina'].include?(@pitch.template) ? 'text-white' : 'text-black' %>">
                  <%= @pitch.content.split("\n")[8..11].map { |point| "<li>#{point.strip}</li>" }.join.html_safe %>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#pitchImagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #670BFF;"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#pitchImagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #670BFF;"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-4 shadow-sm h-100">
        <h3 class="text-secondary">Add a Review</h3>
        <%= simple_form_for [@pitch, @review] do |f| %>
          <div class="mb-3">
            <%= f.input :comment, label: "Your Review", input_html: { class: "form-control" } %>
          </div>
          <div class="mb-3">
            <%= f.input :rating, collection: 1..5, label: "Rating (1-5)", input_html: { class: "form-select" } %>
          </div>
          <%= f.submit "Add Review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <div class="card shadow p-4 mt-4 text-center w-100">
    <h4 class="mb-3 text-muted">Pitch Name: <%= @pitch.name %></h4>
    <p class="lead text-muted"><strong>Description:</strong> <%= @pitch.description %></p>

    <div class="d-flex justify-content-center mt-3">
      <% if current_user.favourites.find_by(pitch: @pitch).nil? %>
        <%= simple_form_for [@pitch, @favourite] do |f| %>
          <%= f.submit "🌟", class: "btn btn-primary me-2" %>
        <% end %>
      <% else %>
        <%= simple_form_for [@pitch, @favourite] do |f| %>
          <%= f.submit "⭐", class: "btn btn-primary me-2", disabled: @favourite.present? %>
        <% end %>
      <% end %>

      <%= link_to "#", class: "btn btn-primary me-2", id: "copy-link" do %>
        <i class="fas fa-copy"></i>
      <% end %>

      <%= link_to generate_ppt_pitch_path(@pitch), class: "btn btn-primary me-2" do %>
        <i class="fas fa-download"></i>
      <% end %>


      <% if @pitch.user == current_user %>
        <%= link_to pitch_path(@pitch), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-primary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mt-5">
    <h2 class="text-primary">Reviews</h2>

    <% if @pitch.reviews.any? %>
      <div class="list-group">
        <% @pitch.reviews.each do |review| %>
          <div class="list-group-item">
            <p><strong>⭐ Rating:</strong> <%= review.rating %> / 5</p>
            <p><strong>💬 Comment:</strong> <%= review.comment %></p>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-muted">No reviews yet. Be the first to add one!</p>
    <% end %>
  </div>
</div>
