<div class="header">
  <h1>Meet the Founding Team</h1>
  <h2>Building a Legacy, Paying Forward</h2>
</div>
<div class="cards">
  <div class = "card-legacy">
    <img src="https://d26jy9fbi4q9wx.cloudfront.net/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM3lrQXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--b21defc8cea2dfe1cf35861ea62c8db87bdb0db1/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNJYVFISWFRSElld1k2Q1dOeWIzQTZEbUYwZEdWdWRHbHZiZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--23cdbdf9871e44adeb4d843a03b0793a5f08394b/IMG_7483.jpeg" class="card-trip-user avatar-bordered" />
    <h2>Annie</h2>
    <p><%= "I am a Full-Stack Developer, specialized in Ruby on Rails, React, JavaScript, Ruby, HTML, CSS, Python, and C++, complemented by my ability to collaborate effectively in diverse teams. ".truncate(125) %> </p>
      <div class = "card-icons">
        <a href="https://www.linkedin.com/in/annie-chen-1b1b1b1b1/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Annie11-maker"><i class="fab fa-github"></i></a>
      </div>
  </div>
  <div class = "card-legacy">
    <img src="https://d26jy9fbi4q9wx.cloudfront.net/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBL1dPQXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--7986f34ff3625ee44e202a9bebaf27dfccc5f9ae/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2hwQWNocEFjaDdCam9KWTNKdmNEb09ZWFIwWlc1MGFXOXUiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--df4f7d63fe19fb30952f52eed6dffc392a97578c/David_IUKEDI_30-removebg-preview.png" class="card-trip-user avatar-bordered" />
    <h2>David</h2>
    <p> <%=  "I've worked in tech for about a decade. I signed up for Le Wagon to strengthen my development skills to further my career. I am looking to work in product development or software engineering.".truncate(125)%></p>
      <div class = "card-icons">
        <a href="https://www.linkedin.com/in/david-grey-grangran/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/DMG516"><i class="fab fa-github"></i></a>
      </div>
  </div>
  <div class = "card-legacy">
    <img src="https://avatars.githubusercontent.com/u/87481139?v=4" class="card-trip-user avatar-bordered" />
    <h2>Gabriel</h2>
    <p><%= "I am an Aerospace Engineer with a passion for learning coding to enhance my skill set. I'm eager to develop applications and expand my technical expertise.".truncate(125) %></p>
      <div class = "card-icons">
        <a href="https://www.linkedin.com/in/gabrielatak/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/G-Atak"><i class="fab fa-github"></i></a>
      </div>
  </div>
  <div class = "card-legacy">
    <img src="https://avatars.githubusercontent.com/u/169837635?v=4" class="card-trip-user avatar-bordered" />
    <h2>Michelle</h2>
    <p><%= "I want to learn to code so that I can get employment or work in freelancing and be able to create and give value to the services I offer in the future.".truncate(125) %> </p>
      <div class = "card-icons">
        <a href="https://www.linkedin.com/in/michelle-chege-55876638/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Mishi-TKK"><i class="fab fa-github"></i></a>
      </div>
  </div>
  <div class = "card-legacy">
    <img src="https://d26jy9fbi4q9wx.cloudfront.net/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBL0xVQXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d4f3e871cb1c01400b6e5c072384fcba6563c778/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2hwQWNocEFjaDdCam9KWTNKdmNEb09ZWFIwWlc1MGFXOXUiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--b67d9ded4d28d0969fbb98b4c21b79257705a99a/_MG_1195-12.jpg" class="card-trip-user avatar-bordered" />
    <h2>Sanjay</h2>
    <p> <%= "I have experience in a number of industries and have worked in Logistics which involved working on global Supply Chain, Inventory Management, Warehousing & Distribution, Procurement and Provisioning projects. I then got me involved within the Construction Industry where I gained additional skills, experience and qualifications in Health & Safety, Site and Project Management and had the opportunity to work on some exciting projects in the city. I was able to use my skills and knowledge from my career to develop and implement innovative solutions. My passion for technology led me to innovate and create simple no code or low code applications and systems which helped deliver efficiencies on projects. This motivated me to develop my knowledge and transition into a technology career pathway.".truncate(125) %></p>
      <div class = "card-icons">
        <a href="https://www.linkedin.com/in/sans-dev-sec-ops"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/chief10sguru"><i class="fab fa-github"></i></a>
      </div>
  </div>
</div>
