<!DOCTYPE html>
<html>
  <head>
    <title>PitchPerfect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
    </header>
    <%= yield %>
    <script>
      document.getElementById('copy-link').addEventListener('click', function(event) {
        event.preventDefault();
        navigator.clipboard.writeText('<%= request.original_url %>').then(function() {
          alert('Link copied to clipboard!');
        }).catch(function(err) {
          alert('Failed to copy the link: ' + err);
        });
      });
    </script>
  </body>
</html>
