<!DOCTYPE html>
<html>
  <head>
    <title>PitchPerfect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
      <%= render "shared/navbar" %>
    </header>

    <main class="flex-grow-1">
      <%= yield %>
    </main>

    <footer>
      <%= render "shared/footer" %>
    </footer>

    <script>
      function scrollDown() {
        window.scrollBy({
          top: window.innerHeight * 1.1,
          behavior: "smooth"
        });
      }

      document.getElementById('copy-link').addEventListener('click', function(event) {
        event.preventDefault();
        navigator.clipboard.writeText('<%= request.original_url %>').then(function() {
          alert('Link copied to clipboard!');
        }).catch(function(err) {
          alert('Failed to copy the link: ' + err);
        });
      });
    </script>
  </body>
</html>
